<ion-view title="Book Detail" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="bookDetail-container5">
      <ion-list id="bookDetail-list17">
        <ion-item class="item-thumbnail-left item-icon-right" id="bookDetail-list-item10">
          <img src="{{book.img_path}}">
          <h2>{{book.title}}</h2>
          <p>
            {{book.author}}
            <br>
            {{book.publisher}}
            <br>
            <b>ISBN:</b> {{book.isbn}}
          </p>
          <!-- <p></p> -->
          <!-- <i class="icon ion-plus-circled"></i> -->
        </ion-item>
      </ion-list>
    </div>
    <ion-item class="item-divider">{{subHeaderMessage}}</ion-item>
    <ion-list id="bookDetail-list9">
      <div ng-repeat="user in book.users | filter: {type: '2'}">
        <ion-item id="bookDetail-list-item14" ng-click="show(user.user.first_name, user.user.id)">{{user.user.first_name}} {{user.user.last_name}}
          <span class="item-note">{{randomFloatBetween(0.1, 5, 1)}} miles</span>
        </ion-item>        
      </div>
    </ion-list>
  </ion-content>
</ion-view>