<ion-view title="Book Detail" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="bookDetail-container5">
      <ion-list id="bookDetail-list17">
        <ion-item class="item-thumbnail-left item-icon-right" id="bookDetail-list-item10">
          <img src="{{book.img_path}}">
          <h2>{{book.title}}</h2>
          <p>
            {{book.author}}
            <br>
            {{book.publisher}}
            <br>
            {{book.isbn}}
          </p>
          <p></p>
          <i class="icon ion-plus-circled"></i>
        </ion-item>
      </ion-list>
    </div>
    
    <ion-list id="bookDetail-list9">
      <div ng-repeat="user in book.users | filter: {type: '2'}">
        <ion-item id="bookDetail-list-item14" ui-sref="tabsController.userDetail">{{user.user.first_name}} {{user.user.first_name}}
          <span class="item-note">3.2 miles</span>
        </ion-item>
        <!-- <ion-item id="bookDetail-list-item14" ui-sref="tabsController.userDetail">{{user.user.first_name}} {{user.user.last_name}}
          <span class="item-note">3.2 miles</span>
        </ion-item>         -->
      </div>
    </ion-list>    
  </ion-content>
</ion-view>