<ion-view title="Book Detail" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="bookDetail-container5">
      <ion-list id="bookDetail-list17">
        <ion-item class="item-thumbnail-left item-icon-right" id="bookDetail-list-item10">
          <h2>Line 1</h2>
          <p>Line 2</p>
          <i class="icon ion-plus-circled"></i>
        </ion-item>
      </ion-list>
    </div>
    <div id="bookDetail-container2" class="creator-container"></div>
    <ion-list id="bookDetail-list9">
      <ion-item id="bookDetail-list-item14" ui-sref="tabsController.userDetail">Item 1
        <span class="item-note">3.2 miles</span>
      </ion-item>
      <ion-item id="bookDetail-list-item15">Item 2
        <span class="item-note">1 mile</span>
      </ion-item>
      <ion-item id="bookDetail-list-item16">Item 3
        <span class="item-note">0.5 miles</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>