<ion-view title="Dashboard" id="page2">
  <ion-content padding="false" class="has-header">
    <ion-list id="dashboard-list3">
      <ion-item class="item-icon-left">
        <i class="icon ion-ionic"></i>Frank Q
        <span class="item-note">Test</span>
      </ion-item>
    </ion-list>
    <div id="dashboard-button-bar1" class="button-bar">
      <button id="dashboard-button4" style="border-radius:0px 0px 0px 0px;" class="button button-positive">Need</button>
      <button id="dashboard-button5" style="border-radius:0px 0px 0px 0px;" class="button button-positive">Have</button>
    </div>
    <ion-list id="dashboard-list2">
      <ion-item class="item-thumbnail-left item-icon-right" id="dashboard-list-item4" ui-sref="tabsController.bookDetail">
        <h2>Title</h2>
        <p style="white-space:normal;">Line 2</p>
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="dashboard-list-item5">
        <h2>Item</h2>
        <i class="icon ion-wifi"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>