<ion-view title="Messages" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="messages-list6">
      <ion-item class="item-avatar item-icon-right" id="messages-list-item6" ui-sref="tabsController.messageDetail">
        <h2>Item</h2>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="messages-list-item7">
        <h2>Item</h2>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>