<ion-view title="Request" id="page14">
  <ion-content padding="true" class="has-header">
    <h1 id="request-heading1" style="color:#000000;">I wanna...</h1>
    <form id="request-form8" class="list">
      <ion-radio id="request-radio5">Make an offer</ion-radio>
      <ion-radio id="request-radio4">Borrow</ion-radio>
    </form>
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <form id="request-form10" class="list">
      <label class="item item-input" id="request-input9">
        <span class="input-label">$</span>
        <input type="number" placeholder="Offer">
      </label>
    </form>
    <form id="request-form16" class="list">
      <label class="item item-input" id="request-textarea4">
        <span class="input-label"></span><textarea placeholder="Write a message"></textarea></label>
    </form>
    <button id="request-button14" class="button button-positive  button-block">Send</button>
  </ion-content>
</ion-view>